@page
@model ASPNetCoreRazor.Pages.PlayersModel
@{
}



<ul>
    @foreach (var playerName in Model.Players)
    {
        <li>@playerName</li>
    }
</ul>

 
<hr />  
<a asp-page="/RandomNumber" >Till listan</a>